**/.git
**/.gitignore
**/.vs
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
tests/
docker-compose.yml
docker-compose.*.yml
openspec/
.atl/
api.md
requerimientos.txt
README.md
*.md
!Api/wwwroot/**
